# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Lab/Lab6/Lab6.1/front-end/node_modules
/Lab/Lab7/Lab7.1/front-end/node_modules
/Lab/Lab12/front-end/node_modules
/Lab/Lab12/back-end/node_modules