.footer {
  color: aliceblue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  padding: 2em 8em;
  margin-top: 4em;
  background-color: var(--secondary-background);
}
.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.col a {
  text-decoration: none;
  color: white;
}
