.form-control {
  margin: 1rem auto;
  width: 20em;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.error {
  color: red;
  margin: 1rem auto;
  padding: 1rem 4rem;
  text-align: center;
  width: 30rem;
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 12px;
}

.error-field{
  border: solid 1px red!important;
}
