.transactions {
  padding: 1rem;
}

.booked,
.checkin,
.checkout {
  padding: 0.3rem 0.5rem;
  color: #2b8a3e;
  border-radius: 10px;
}

.booked {
  background-color: #ffa8a8;
}
.checkin {
  background-color: #69db7c;
}
.checkout {
  background-color: #b197fc;
}
