.add-form {
  width: 10em;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.add-form button {
  background-color: transparent;
  border: 2px solid green;
  color: green;
  cursor: pointer;
}
